<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>成长记录/投资记录</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>成长记录</div>
        <span>会员等级：{$flowInfo['rank_name']}</span><br>
        <span>更新时间：{$flowInfo['update_time']}</span><br>
        <span>此次成长值增加：{$flowInfo['change_rank_points']}</span><br>
        <span>当前成长值为：{$flowInfo['available_rank_points']}</span><br>
        
    </body>
</html>
