<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>添加用户</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body><h5>添加用户</h5>
        <form action='addUser' method="post"><br>
           用户名称： <input type='text' name='user_name'><br>
           用户邮箱： <input type='text' name='email'><br>
            <input type='submit' value="提交"><br>
        </form>
    </body>
</html>
