<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><h3><p>{$Think.session.userName}</p></h3>
            <a href="../Login/loginOut">退出</a>
        </div>
        <div><a href="../Redpacket/toEdit">红包模板管理</a></div>
        <div><a href="../Redpacket/toAddRedpacket">添加红包模板</a></div>
        <div><a href="../Redpacket/redpacketList">红包模板列表</a></div>
        <div><a href="../Redpacket/toSend">红包发放管理</a></div>
        <div><a href="">红包统计</a></div>
    </body>
</html>
