<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
           
        </style>
    </head>
    <body>
        <div><h1>欢迎使用redpacket</h1></div>
        <h1>登陆后台 <a href="../Login/index">Admin</a></h1>
    </body>
</html>
