

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>红包主页</title>
        <link rel="stylesheet" href="/static/admin/css/style.css" type="text/css" charset="utf-8" />	

    </head>

    <body>
   
        <div id="wrapper">
            <h1>admin:{$Think.session.real_name}
            </h1>
            <div id="body-left">
                <ul id="menu">
                    <li><a href="#">主页</a></li>
                    <li><a href="#">个人中心</a></li>
                    <li><a href="#">最新资讯</a></li>
                    <li><a href="#">推荐</a></li>
                    <li><a href="#">说明</a></li>
                </ul>
                <h2 >h2h2h2h2h2h2</h2>
                <p>sdfhgjkfghfkjghjd</p>
                <h2 id="h-projects">zzzzz</h2>
                <div id="projects-outer">
                    <div id="projects">
                        <img src="/static/admin/images/pic_3.jpg" width="116" height="80" alt="Pic 3" class="left" />
                        <p>Even more websites all about website templates on <a href="http://www.justwebtemplates.com">Just Web Templates</a>.</p><br /><br />
                        <div class="dot-divider"></div>
                        <img src="images/pic_4.jpg" width="116" height="80" alt="Pic 4" class="left" />
                        <p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://sc.chinaz.com/">Template Beauty</a>.</p><br /><br />
                        <p class="more"><a href="http://sc.chinaz.com/">more projects</a>		
                    </div>
                </div>
            </div>
            <div id="body-right">
                <table width="80%" height="20"  >
                    <tr>
                        <td>aaaa</td>
                        <td>aaaa</td>
                        <td>aaaa</td>
                        <td>aaaa</td>
                        <td>xxx</td>
                    </tr>
                    <tr>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td>xxx</td>
                        <td><a href="#">修改</a></td>
                    </tr>

                </table>
                <h2 id="h-welcome"><img src="images/h_welcome.gif" width="134" height="28" alt="H Welcome" /></h2>
            </div>