<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>角色管理</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>角色列表<br>
            <a href="index?act=add">添加角色</a>
        </div>
        <div>  <table  >
                <tr >
                    <td>角色</td>

                    <td>操作</td>
                </tr>
                {foreach $rows as $row}
                <tr>
                    <td>{$row['role_name']}</td>

                    <td>
                        <a href="index?act=setConf&&role_id={$row['id']}">设置权限</a>
                        <a href="index?act=edit&&role_id={$row['id']}">编辑</a>
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </body>
</html>
