<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>添加红包模板</title>
    </head>
    <body>
        <h3>添加红包模板</h3>
        <form action="editRedpacketModel? id={$row['redpacket_model_id']}" method="post">
            <table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">
                <tr>
                    <td align="right">红包名称：</td>
                    <td><input type="text" name="rd_name" value="{$row.rd_name}"placeholder=""/></td>
                </tr>
                <tr>                    
                    <td align="right">类型：</td>
                    <td>
                        当前：<?php echo $typeName = ($row['rd_type']==0) ? '现金':'利率';?><br>                        
                        可选：<input type="radio" name="rd_type" value="1"/>现金
                        <input type="radio" name="rd_type" value="1"/>利率
                    </td>
                </tr>
                
                <tr>
                    <td align="right">利率</td>
                    <td><input type="text" name="rate" value="{$row.rate}"placeholder="小数点后两位"/></td>
                </tr>
                <tr>
                    <td align="right">现金</td>
                    <td><input type="text" name="cash" value="{$row.cash}" placeholder="小数点后两位"/></td>
                </tr>
                <tr>
                    <td align="right">过期时间</td>
                    <td><input type="text" name="valid_time" value="{$row.valid_time}" placeholder="整数"/></td>
                </tr>
                <tr>
                    <td align="right">最小金额</td>
                    <td><input type="text" name="invest_min_amount" value="{$row.invest_min_amount}" placeholder="小数点后两位"/></td>
                </tr>
                <tr>
                    <td align="right">最大金额</td>
                    <td><input type="text" name="invest_max_amount" value="{$row.invest_max_amount}" placeholder="小数点后两位"/></td>
                </tr>
                <tr>
                    <td align="right">最短期限</td>
                    <td><input type="text" name="limit_min_date" value="{$row.limit_min_date}" placeholder="天数"/></td>
                </tr>
                <tr>
                    <td align="right">最长期限</td>
                    <td><input type="text" name="limit_max_date" value="{$row.limit_max_date}" placeholder="天数"/></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit"  value="编辑红包"/></td>
                </tr>            

            </table>
        </form>
    </body>
</html>