<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>添加vip特权</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>添加vip等级</div>
        <form action="addPrivilege" method="post">
            特权排序号：<input type="text" name="sort_num"><br>
            设置会员使用等级：<input type="" name="rank_id"><br>
            特权福利名称：<input type="text" name="privilege_name"><br>
            特权内容：<input type="text" name="content"><br>
            <input type="submit" value="提交"><br>
        </form>
       
    </body>
</html>
