<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>privilege to rank</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <ul>用户管理
                <li></li>
            </ul>
        </div>
        <div>vip会员配置特权（角色）
            <ul><a href="privilege?act=add">添加会员等级</a>
                <li><a href="relevancePrivilege?rank_id=1" >普通会员</a></li>
                <li><a href="relevancePrivilege?rank_id=2" >青铜会员</a></li>
                <li><a href="relevancePrivilege?rank_id=3" >白银会员</a></li>
                <li><a href="relevancePrivilege?rank_id=4" >黄金会员</a></li>
                <li><a href="relevancePrivilege?rank_id=5" >钻石会员</a></li>
            </ul>
            <div>特权管理(权限管理)
                <ul>
                    <li><a href="privilege?act=add">添加特权</a></li>
                    <li><a href="privilege?act=list">特权列表</a></li>
                </ul>
            </div>
        </div>

    </body>



</html>
