
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <h3>编辑红包模板</h3>  
        <form action="sendRedpacket?id={$list.redpacket_model_id}" method="post" enctype="multipart/form-data">

            <table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">

                {$list.rd_name}
                <tr>
                    <td align="right">发送个数：</td>
                    <td><input type="text" name="num" placeholder="红包个数"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit"  value="生成二维码"/></td>

                </tr>

            </table> 
        </form>
       
    </body>
</html>