
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
        <h3>编辑红包模板</h3>
        <form action="editRedpacket?id={$list.redpacket_model_id}" method="post" enctype="multipart/form-data">
            红包名称：{$list.rd_name}活动红包
            <table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">

                <tr>
                    <td align="right">类型：</td>
                    <td><input type="radio" name="rd_type" value="0"  <?php echo $list['rd_type']=="现金"?"checked='checked'":null;?>/>现金
                               <input type="radio" name="rd_type" value="1" <?php echo $list['rd_type']=="利率"?"checked='checked'":null;?>/>利率
                    </td>
                </tr>
                <tr>
                    <td align="right">利率</td>
                    <td><input type="text" name="rate" placeholder="{$list.rate}"/></td>
                </tr>
                <tr>
                    <td align="right">现金</td>
                    <td><input type="text" name="cash" placeholder="{$list.cash}"/></td>
                </tr>
                <tr>
                    <td align="right">过期时间</td>
                    <td><input type="text" name="valid_time" placeholder="{$list.valid_time}"/></td>
                </tr>
                <tr>
                    <td align="right">最小金额</td>
                    <td><input type="text" name="invest_min_amount" placeholder="{$list.invest_min_amount}"/></td>
                </tr>
                <tr>
                    <td align="right">最大金额</td>
                    <td><input type="text" name="invest_max_amount" placeholder="{$list.invest_max_amount}"/></td>
                </tr>
                <tr>
                    <td align="right">最短期限</td>
                    <td><input type="text" name="limit_min_date" placeholder="{$list.limit_min_date}"/></td>
                </tr>
                <tr>
                    <td align="right">最长期限</td>
                    <td><input type="text" name="limit_max_date" placeholder="{$list.limit_max_date}"/></td>
                </tr>
                     
                <tr>
                    <td colspan="2"><input type="submit"  value="编辑红包"/></td>
                </tr>

            </table>
        </form>
    </body>
</html>