<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html><!DOCTYPE html>
    <html lang="en">
        <head>
                <meta charset="UTF-8">
                <title>数据导入</title>
                <script type="text/javascript" src="/static/admin/lib/jquery/1.9.1/jquery.min.js"></script>
        </head>
        <body>
                
            
                <form action="import" method="post" enctype="multipart/form-data">
                        <input type="file" name="excel"  />
                        <input type="submit" value="导入"/>
                    </form>
        </body>
