<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.登陆
-->
<html>
    <head>
        <title>admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  
    <body>
        <h1>管理员登陆</h1>
        <div> 
            <form method="post" action="doLogin">
            用户账号：
            <input type="text" name="username"><br/><br/>
            输入密码：
            <input type="password" name="password"><br/><br/>
           <input type="submit" value="登录" >
            
           
        </form>
        </div>
    </body>
</html>
